In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./datasets/test.csv')

/var/folders/t4/n89gfp4s10b4j476kq4xh2p00000gn/T/ipykernel_53323/2860289050.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./datasets/test.csv')

In [3]:
df.head()

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,...,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,114982,2012-11,YISHUN,4 ROOM,173,YISHUN AVE 7,07 TO 09,84.0,Simplified,1987,...,92,0,1.433681,103.832924,156.322353,Ahmad Ibrahim Secondary School,218,0,1.436235,103.829987
1,95653,2019-08,JURONG WEST,5 ROOM,986C,JURONG WEST ST 93,04 TO 06,112.0,Premium Apartment,2008,...,45,0,1.339244,103.698896,739.371688,Jurong West Secondary School,199,0,1.335256,103.702098
2,40303,2013-10,ANG MO KIO,3 ROOM,534,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,...,36,0,1.371893,103.851811,305.071191,Anderson Secondary School,245,0,1.374242,103.851430
3,109506,2017-10,WOODLANDS,4 ROOM,29,MARSILING DR,01 TO 03,97.0,New Generation,1979,...,54,0,1.434423,103.773698,433.454591,Woodlands Secondary School,188,0,1.439183,103.774499
4,100149,2016-08,BUKIT BATOK,4 ROOM,170,BT BATOK WEST AVE 8,16 TO 18,103.0,Model A,1985,...,40,0,1.349195,103.741000,217.295361,Bukit Batok Secondary School,223,0,1.348351,103.740873

In [5]:
df.shape

# this do not have resale price
# this has about 10% of the training data

(16737, 77)

In [7]:
pd.set_option('display.max_rows', None)
df.isnull().sum()

id                               0
Tranc_YearMonth                  0
town                             0
flat_type                        0
block                            0
street_name                      0
storey_range                     0
floor_area_sqm                   0
flat_model                       0
lease_commence_date              0
Tranc_Year                       0
Tranc_Month                      0
mid_storey                       0
lower                            0
upper                            0
mid                              0
full_flat_type                   0
address                          0
floor_area_sqft                  0
price_per_sqft                   0
hdb_age                          0
max_floor_lvl                    0
year_completed                   0
residential                      0
commercial                       0
market_hawker                    0
multistorey_carpark              0
precinct_pavilion                0
total_dwelling_units             0
1room_sold                       0
2room_sold                       0
3room_sold                       0
4room_sold                       0
5room_sold                       0
exec_sold                        0
multigen_sold                    0
studio_apartment_sold            0
1room_rental                     0
2room_rental                     0
3room_rental                     0
other_room_rental                0
postal                           0
Latitude                         0
Longitude                        0
planning_area                    0
Mall_Nearest_Distance           84
Mall_Within_500m             10292
Mall_Within_1km               2786
Mall_Within_2km                213
Hawker_Nearest_Distance          0
Hawker_Within_500m           10755
Hawker_Within_1km             6729
Hawker_Within_2km             3254
hawker_food_stalls               0
hawker_market_stalls             0
mrt_nearest_distance             0
mrt_name                         0
bus_interchange                  0
mrt_interchange                  0
mrt_latitude                     0
mrt_longitude                    0
bus_stop_nearest_distance        0
bus_stop_name                    0
bus_stop_latitude                0
bus_stop_longitude               0
pri_sch_nearest_distance         0
pri_sch_name                     0
vacancy                          0
pri_sch_affiliation              0
pri_sch_latitude                 0
pri_sch_longitude                0
sec_sch_nearest_dist             0
sec_sch_name                     0
cutoff_point                     0
affiliation                      0
sec_sch_latitude                 0
sec_sch_longitude                0
dtype: int64